<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PageRankKeywords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PagerankKeywords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PageRankKeywords.Properties.Settings>
            <setting name="SearchStartFormat" serializeAs="String">
                <value>http://www.google.com/search?q={0}</value>
            </setting>
            <setting name="BlacklistFilename" serializeAs="String">
                <value>blacklist.txt</value>
            </setting>
            <setting name="SilverlistFilename" serializeAs="String">
                <value>silverlist.txt</value>
            </setting>
        </PageRankKeywords.Properties.Settings>
    </userSettings>
</configuration>